<!DOCTYPE html>
<html>

<head>
<title>Change Password</title>
</head>

<body>

<h2>Change Password</h2>

<form method="POST" action="/change-password">

<label>Current Password</label>
<br>
<input
type="password"
name="currentPassword"
required
>
<br><br>

<label>New Password</label>
<br>
<input
type="password"
name="newPassword"
required
>
<br><br>

<button type="submit">
Change Password
</button>

</form>

</body>
</html>