<!DOCTYPE html>
<html>

<head>
<title>Company Disabled</title>
</head>

<body>

<h2>
Company account is disabled. Contact platform Admin.
</h2>

<p>
Click below to return to login.
</p>

<a href="/login">
Go To Login
</a>

</body>

</html>