<h2>Matching Configuration</h2>

<form method="POST" action="/dashboard/match-config">

Price Weight
<input type="number" name="price"><br><br>

Bedrooms Weight
<input type="number" name="bedrooms"><br><br>

Area Weight
<input type="number" name="area"><br><br>

Distance Weight
<input type="number" name="distance"><br><br>

<button type="submit">Save</button>

</form>