<!DOCTYPE html>
<html>

<head>

<title>Password Changed</title>

</head>

<body>

<h2>
Password changed successfully
</h2>

<p>
Redirecting to login page in 5 seconds...
</p>

<script>

setTimeout(function(){

window.location.href =
'/login'

},5000)

</script>

</body>

</html>