<!DOCTYPE html>
<html>

<head>

<title>Subscription Expired</title>

</head>

<body>

<h2>
Subscription expired
</h2>

<p>
Please contact your administrator.

</p>

<p>
Redirecting to login page in 5 seconds...
</p>

<script>

setTimeout(function(){

window.location.href =
'/login'

},5000)

</script>

</body>

</html>