<!DOCTYPE html>

<html>

<head>
<title>
Scan WhatsApp QR
</title>
</head>

<body>

<h2>
Scan WhatsApp QR
</h2>

<img
src="<%= qrImage %>"
width="350">

<br><br>

<a href="/tenant-whatsapp">
Back
</a>

</body>

</html>